//css vars
:root {
    //colors
    --main-font: #363738;
    --add-font: #6B6B6C;

    //bg
    --theme-main:#FFFFFF;
    --theme-secondary: #0B7572;

    //addictional
    --underline-color: #FFCE50;
}